<meta name="description" content="An online calculator that supports finite fields (F2, F3, F4, ...) and linear algebra like matrices, vectors and linear equation systems"/>
<link rel="canonical" href="https://matrixer.davidaugustat.com/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Matrixer - Online Calculator for Finite Fields and Linear Algebra" />
<meta property="og:description" content="An online calculator that supports finite fields (F2, F3, F4, ...) and linear algebra like matrices, vectors and linear equation systems" />
<meta property="og:url" content="https://matrixer.davidaugustat.com/" />
<meta property="og:site_name" content="David Augustat" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="An online calculator that supports finite fields (F2, F3, F4, ...) and linear algebra like matrices, vectors and linear equation systems" />
<meta name="twitter:title" content="Matrixer - Online Calculator for Finite Fields and Linear Algebra" />