<!DOCTYPE html>
<html lang="de" class="h-100">
    <head>
        <%= htmlWebpackPlugin.options.headTag %>

        <title>Fehler melden - Matrixer</title>
    </head>
    <body class="d-flex flex-column h-100">
        <%= htmlWebpackPlugin.options.header %>

        <main role="main" class="flex-shrink-0">
            <div class="container main-content">
                <h1>Fehler melden</h1>
                <p class="lead">
                    Du hast einen Fehler gefunden? Etwas funktioniert nicht? Du hast Vorschläge für Verbesserungen
                    oder zusätzliche Funktionen? Dann kontaktiere mich! Ich bin dankbar für jeden Hinweis!
                </p>
                <h4>Wie du einen Fehler meldest:</h4>
                <p>
                    Sende eine E-Mail an <a href="mailto:mail@davidaugustat.com">mail@davidaugustat.com</a>.
                    Bitte füge folgende Informationen bei, um mir beim Analysieren des Problems zu helfen:
                </p>

                <ul>
                    <li>Eine kurze <b>Fehlerbeschreibung</b></li>
                    <li>Einen <b>Screenshot</b></li>
                    <li>Der <b>Text, den du versucht hast, einzugeben</b> (damit ich den Text nicht vom Screenshot
                        abtippen muss)</li>
                    <li>Dein <b>Browser</b> (und Versionsnummer, wenn du sie finden kannst)</li>
                    <li>Dein <b>Betriebssystem</b></li>
                </ul>
                <p>
                    Hinweise, die keine Fehler sind, sind auch willkommen. Danke für deine Hilfe!
                </p>
            </div>
        </main>

        <%= htmlWebpackPlugin.options.footer %>

        <%= htmlWebpackPlugin.options.bodyTag %>

    </body>
</html>