body{
    font-family: 'Roboto', sans-serif;
}
.navbar {
    background-color: #ffffff;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
}
.logo{
    height: 25px;
    margin: 10px 10px 10px 15px;
}

.header-link:hover{
    text-decoration: none;
}

#language-icon{
    height: 25px;
}

#language-header-link{
    margin-right: 25px;
}

#github-icon{
    height: 30px;
}

.main-content{
    padding-top: 30px;
    padding-bottom: 50px;
}

.footer{
    padding-top: 20px;
    padding-bottom: 20px;
}

#expression-input-area{
    max-width: 900px;
    margin: 60px auto 0;
}

#expression-input-form{
}

#field-select{
    margin-left: 10px;
    margin-right: 10px;
}

#calculate-btn{
    margin-left: 10px;
    margin-right: 10px;
}

#result-div{
    margin-top: 40px;
    display: none;
}

#input-feedback-div{
    margin-bottom: 20px;
}

.btn:focus{
    outline: none !important;
    box-shadow: none;
    background-color: #007bff;
}

.result-box{
    padding: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

#math-element-result-code-output{
    margin-top: 50px;
}

#code-copy-btn{
    margin: 5px;
}

.hom-es-box{
    border-style: solid;
    border-width: 1px;
    border-color: #d7d7d7;
    margin: 10px;
    padding: 5px;
    text-align: center;
    display: inline-grid;
}

#documentation-div{
    padding-top: 50px;
}

#documentation-div p{
    overflow-x: auto;
    overflow-y: hidden;
}

ul{
    padding-left: 1.2em;
}

ul li{
    margin-bottom: 10px;
}

.katex-display{
    overflow-x: auto;
    overflow-y: hidden;
}

#homogeneous-equation-system-result-div .katex-display{
    overflow-x: visible;
    overflow-y: visible;
}

.input-example{
    font-family: monospace;
    background-color: #e6e6e6;
    padding: 5px;
}

#footer-nav{
    padding-bottom: 30px;
}

.footer-text{
    padding-left: 1rem;
}

.footer-text a{
    text-decoration: underline;
}

@media (max-width: 767px) {
    .logo{
        height: 20px;
        margin: 10px 10px 10px 10px;
    }

    #language-header-link{
        margin-right: 20px;
    }

    #github-icon{
        height: 25px;
    }

    #language-icon{
        height: 25px;
    }
}

@media (max-width: 575px){
    /*Fix padding on field select input on mobile devices: */
    #field-select{
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 1200px) {
    legend {
        font-size: calc(1.275rem + 0.3vw);
    }
    h1,
    .h1 {
        font-size: calc(1.375rem + 1.5vw);
    }
    h2,
    .h2 {
        font-size: calc(1.325rem + 0.9vw);
    }
    h3,
    .h3 {
        font-size: calc(1.3rem + 0.6vw);
    }
    h4,
    .h4 {
        font-size: calc(1.275rem + 0.3vw);
    }
    .display-1 {
        font-size: calc(1.725rem + 5.7vw);
    }
    .display-2 {
        font-size: calc(1.675rem + 5.1vw);
    }
    .display-3 {
        font-size: calc(1.575rem + 3.9vw);
    }
    .display-4 {
        font-size: calc(1.475rem + 2.7vw);
    }
    .close {
        font-size: calc(1.275rem + 0.3vw);
    }
    .lead{
        font-size: calc(1.0rem + 0.3vw);
    }
}
