<footer class="footer mt-auto py3 bg-dark">
    <div class="container">
        <div class="nav justify-content-center" id="footer-nav">
            <a class="nav-link text-light" href="https://github.com/davidaugustat/matrixer" target="_blank">View Code on GitHub</a>
            <a class="nav-link text-light" href="#">About this Website</a>
            <a class="nav-link text-light" href="#">Contact</a>
            <a class="nav-link text-light" href="#">Privacy</a>
        </div>
        <p class="text-light footer-text text-center">
            You found an error? Something doesn't work? <a class="text-light" href="">Report it to me!</a>
        </p>
        <p class="text-light footer-text text-center">
            © 2020 David Augustat
        </p>
    </div>
</footer>