<header>
    <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="#">
            <img class="logo" alt="Matrixer logo" src="img/matrixer-logo.svg">
        </a>
        <div class="ml-auto">
            <a href="/de" title="View Code on GitHub" class="header-link" id="language-header-link" target="_blank">
                <img id="language-icon" alt="GitHub icon" src="img/germany-flag.svg">
            </a>
            <a href="https://github.com/davidaugustat/matrixer" title="View Code on GitHub" class="header-link" id="github-header-link" target="_blank">
                <img id="github-icon" alt="GitHub icon" src="img/github-logo.png">
            </a>
        </div>
    </nav>
</header>