<footer class="footer mt-auto py3 bg-dark">
    <div class="container">
        <div class="nav justify-content-center" id="footer-nav">
            <a class="nav-link text-light" href="https://github.com/davidaugustat/matrixer" target="_blank">Code
                auf GitHub</a>
            <a class="nav-link text-light" href="/de/about">Über diese Webseite</a>
            <a class="nav-link text-light" href="https://davidaugustat.com/kontakt">Kontakt</a>
            <a class="nav-link text-light" href="https://davidaugustat.com/datenschutz">Datenschutz</a>
        </div>
        <p class="text-light footer-text text-center">
            Fehler gefunden? Etwas funktioniert nicht? <a class="text-light" href="/de/report-error" target="_blank">
            Melde es mir!</a>
        </p>
        <p class="text-light footer-text text-center">
            © 2020 David Augustat
        </p>
    </div>
</footer>
