<meta name="description"
      content="Ein Online-Rechner der endliche algebraische Körper (F2, F3, F4, ...) und lineare Algebra wie z.B. Matrizen, Vektoren und Lineare Gleichungssysteme unterstützt."/>
<link rel="canonical" href="https://matrixer.davidaugustat.com/de/" />
<meta property="og:locale" content="de_DE" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Matrixer - Online-Rechner für endliche Körper und lineare Algebra" />
<meta property="og:description" content="Ein Online-Rechner der endliche algebraische Körper (F2, F3, F4, ...) und lineare Algebra wie z.B. Matrizen, Vektoren und Lineare Gleichungssysteme unterstützt." />
<meta property="og:url" content="https://matrixer.davidaugustat.com/de/" />
<meta property="og:site_name" content="David Augustat" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="Ein Online-Rechner der endliche algebraische Körper (F2, F3, F4, ...) und lineare Algebra wie z.B. Matrizen, Vektoren und Lineare Gleichungssysteme unterstützt." />
<meta name="twitter:title" content="Matrixer - Online-Rechner für endliche Körper und lineare Algebra" />