<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <%= htmlWebpackPlugin.options.headTag %>

        <title>Template - Matrixer</title>
    </head>
    <body class="d-flex flex-column h-100">
        <%= htmlWebpackPlugin.options.header %>

        <main role="main" class="flex-shrink-0">
            <div class="container main-content">

            </div>
        </main>

        <%= htmlWebpackPlugin.options.footer %>

        <%= htmlWebpackPlugin.options.bodyTag %>

    </body>
</html>