<!DOCTYPE html>
<html lang="en" class="h-100">
<head>

    <%= htmlWebpackPlugin.options.headTag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css"
          integrity="sha256-V8SV2MO1FUb63Bwht5Wx9x6PVHNa02gv8BgH/uH3ung=" crossorigin="anonymous" />

    <title>Matrixer - Finite Field and Matrix Calculator</title>
</head>
<body class="d-flex flex-column h-100">

    <%= htmlWebpackPlugin.options.header %>

    <main role="main" class="flex-shrink-0">
        <div class="container main-content">

            <p class="lead text-muted" id="introduction-text">
                Matrixer is a simple calculator that can not only calculate with real numbers, but also with several finite fields like F3, F4 or F8.
                Additionally as the name suggests, Matrixer is able to calculate with matrices as well as vectors.
            </p>

            <%= htmlWebpackPlugin.options.inputOutputFormEn %>

            <%= htmlWebpackPlugin.options.instructionsEn %>

        </div>
    </main>

    <%= htmlWebpackPlugin.options.footer %>

    <%= htmlWebpackPlugin.options.bodyTag %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.js"
            integrity="sha256-F/Xda58SPdcUCr+xhSGz9MA2zQBPb0ASEYKohl8UCHc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/contrib/auto-render.min.js"
            integrity="sha256-90d2pnfw0r4K8CZAWPko4rpFXQsZvJhTBGYNkipDprI=" crossorigin="anonymous"
            onload="renderMathInElement(document.body);"></script>


</body>
</html>