<!DOCTYPE html>
<html lang="de" class="h-100">
<head>

    <%= htmlWebpackPlugin.options.headTag %>

    <link rel="stylesheet" href="https://static.davidaugustat.com/katex-0.13.1/katex.min.css">

    <title>Matrixer - Rechner für endliche Körper und lineare Algebra</title>

    <%= htmlWebpackPlugin.options.seoTags %>

</head>
<body class="d-flex flex-column h-100">

    <%= htmlWebpackPlugin.options.header %>

    <main role="main" class="flex-shrink-0">
        <div class="container main-content">

            <p class="lead text-muted" id="introduction-text">
                Matrixer ist ein Online-Rechner, der nicht nur mit reellen Zahlen, sondern auch über
                endlichen Körpern wie z.B. F3, F4 oder F8 rechnen kann. Wie der Name schon sagt, kann Matrixer
                zusätzlich auch mit Matrizen sowie Vektoren rechnen.
            </p>

            <%= htmlWebpackPlugin.options.inputOutputForm %>

            <%= htmlWebpackPlugin.options.instructions %>

        </div>
    </main>

    <%= htmlWebpackPlugin.options.footer %>

    <%= htmlWebpackPlugin.options.bodyTag %>

    <script defer src="https://static.davidaugustat.com/katex-0.13.1/katex.min.js"></script>
    <script defer src="https://static.davidaugustat.com/katex-0.13.1/contrib/auto-render.min.js"
            onload="renderMathInElement(document.body);"></script>

</body>
</html>
