<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <%= htmlWebpackPlugin.options.headTag %>

        <title>Report an Error - Matrixer</title>
    </head>
    <body class="d-flex flex-column h-100">
        <%= htmlWebpackPlugin.options.header %>

        <main role="main" class="flex-shrink-0">
            <div class="container main-content">
                <h1>Report an Error</h1>
                <p class="lead">
                    You found an error? Something doesn't work? You have suggestions for improvements or additional features?<br>
                    Just contact me! I'm thankful for every reported issue.
                </p>
                <h4>How to report an error:</h4>
                <p>
                    Send an email to <a href="mailto:mail@davidaugustat.com">mail@davidaugustat.com</a>.
                    Please include following details to make it easier for me the analyze the problem:
                </p>

                <ul>
                    <li>A short <b>description</b> of the issue</li>
                    <li>A <b>screenshot</b></li>
                    <li>The <b>text you tried to enter</b> (so that I don't have to type it off the screenshot)</li>
                    <li>Your <b>browser</b> (and version if you can find it)</li>
                    <li>Your <b>operating system</b></li>
                </ul>
                <p>
                    Non-error suggestions are also welcome. Thank you for your help!
                </p>
            </div>
        </main>

        <%= htmlWebpackPlugin.options.footer %>

        <%= htmlWebpackPlugin.options.bodyTag %>

    </body>
</html>